*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI';
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to right,#0f2027,#203a43);
}

.form-container{
  width:100%;
  display:flex;
  justify-content:center;
}

.form-box{
  background:darkgrey;
  padding:40px;
  width:350px;
  border-radius:10px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.logo{
  width:120px;
  margin-bottom:15px;
}

input, select{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:5px;
}

button{
  width:100%;
  padding:10px;
  background:#00d4ff;
  border:none;
  cursor:pointer;
  font-weight:bold;
  margin-top:10px;
}

button:hover{
  background:#00b8e6;
}

.link{
  margin-top:15px;
  font-size:14px;
}

.link a{
  text-decoration:none;
  color:#17424b;
}
.home-btn{
  background:#333;
  color:white;
  margin-top:10px;
}

.home-btn:hover{
  background:#555;
}